* {
  box-sizing: border-box;
}

body {
  background: #000;
}


#sun, #earth {
  width: 50px;
  height: 50px;
  background: yellow;
  border-radius: 50%;
  box-shadow: 0 0 10px orange;
  transform: translate(400px, 200px);
  position: absolute;
}

#earth {
  transform: translate(700px, 200px);
  background: blue;
  box-shadow: 0 0 10px white;
}

#sun {
  width: 100px;
  height: 100px;
}

#space, .stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background-image: 
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
}
